.filter-button-container {
  position: relative; /* 옵션 리스트의 기준점 */
  user-select: none;
}

.filter-button {
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* 반투명 흰색 테두리 */
  border-radius: 12px; /* 둥근 버튼 */
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  min-width: 120px;
  height: 40.89px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}

.options-list {
  position: absolute;
  top: 120%; /* 버튼 아래쪽에 표시 (기존 bottom에서 변경) */
  left: -120%;
  transform: translateX(-50%); /* 가운데 정렬 */
  background-color: rgba(30, 30, 30, 0.7); /* 어두운 반투명 배경 */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  padding: 8px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: 400px;
  justify-items: center;
  z-index: 10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.option-item {
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.2s, color 0.2s;
  flex-grow: 1;
  text-align: center;
  min-width: 80px;
}

.option-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}