.main-nav {
    background-color: #ffffff;
    /* A dark slate blue color */
    padding: 0 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 70px;
    user-select: none;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.main-nav ul li a {
    display: block;
    color: rgb(34, 34, 34);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100%;
}

.main-nav ul li a.active {
    background-color: #2980b9;
}

.right-nav {
    margin-left: auto;
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.logout-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.logo {
    height: 60px;
}
.logo-li {
    padding: 0 !important;
}